server:
  port: 4002

spring:
  application:
    name: ApiGateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: AuthServiceRoute
              uri: lb://AUTHSERVICE
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1

            - id: CartServiceRoute
              uri: lb://CARTSERVICE
              predicates:
                - Path=/api/cart/**
              filters:
                - StripPrefix=1
                - JwtValidation

            - id: apiDocsCartRoute
              uri: lb://CARTSERVICE
              predicates:
                - Path=/api-docs/cart
              filters:
                - RewritePath=/api-docs/cart,/v3/api-docs

            - id: apiDocsAuthRoute
              uri: lb://AUTHSERVICE
              predicates:
                - Path=/api-docs/auth
              filters:
                - RewritePath=/api-docs/auth,/v3/api-docs
    discovery:
      locator:
        enabled: true
        lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
      instance:
        prefer-ip-address: true
management:
  endpoints:
    web:
      exposure:
        include: "*"